*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
   
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
.login-container{
    height: 70vh;
    width: 73%;
    margin-top: 7%;
    border-radius: 10px;
    display: flex;
    box-shadow: 2px 2px 5px black;
}
.login-section{
    height:70vh;
    width: 33%;
    margin-right: 1%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),url('All image/spanimage.png');
}
.login-section h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Playwrite AR", cursive;
    margin-top: 10%;
    color: white;
    font-size: 30px;
}
.login-form{
    margin-left: 7%;
    margin-top: 18%;
}
.login-form i{
    font-size: 1.2em;
    color: #f9004d;
}
.login-form label{
    font-size: 17px;
    margin-left: 3%;
    letter-spacing: 2px;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    color: white;
    
}
.login-form input{
    height: 6vh;
    width: 83%;
    border: none;
    background-color: white;
    border-radius: 6px;
    margin-top: 5%;
    margin-bottom: 8%;
    color: #191919;
    padding: 10px;
    font-size: 15px;
}
.login-form button{
    height: 5.3vh;
    width: 40%;
    border-radius: 10px;
    border: none;
    background-color: #f9004d;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 20%;
    font-family: "Poppins", sans-serif;
    margin-top: 8%;
    transition: 0.4s ease;
}
.login-form button:hover{
    transform: scale(1.1,1.1);
    cursor: pointer;
}
.login-container p{
    color: white;
    font-size: 14px;
    margin-left: 7%;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.login-container p a{
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    color: yellow;
    text-transform: capitalize;
}

.book-bus-info{
    height: 70vh;
    width: 65%;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;  
}
.image-p-section{
    height: 80vh;
    width: 92%;
}
.image-p-section img{
    height: 50vh;
    width: 55%;
    margin-left: 23%;
    border-radius: 10px;
    border-bottom: 2px solid black;
    
}
.image-p-section p{
    color: black;
    margin-top: 3%;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    text-align: justify;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 30px;
}
.admin p a{
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    color: yellow;
    text-transform: capitalize;
}
.admin{
    margin-left: 20%;
    margin-top: 9%;
}
