*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}
.print_ticket{
    height:90vh;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 5px;
}

.nav{
    width: 99%;
    height: 8vh;
    margin-left: 0.5%;
    border-radius: 5px;
    border-bottom: 2px solid white;
    background-color: #191919;
    position:fixed;
    top: 0;


}
.nav-content{
    display: flex;
    padding: 12px 5px;
}
.follow{
    display: flex;
    margin-right: 14%;
    margin-left: 1%;
}
.follow p{
   margin-right: 7%;
}
.follow i{
    margin-right: 15%;
    font-size: 1.2em;
}
.nav-content i{
    color: #f9004d;
    padding-right: 1%;
    padding-top: 4px;
}
.nav-content p{
    padding-right: 5%;
    color: white;
    padding-top: 4px;
}

.login-signup{
    display: flex;
    margin-left: 5%;
}
.login-signup i{
    margin-left: 30%;
}
.login-signup a{
    text-decoration: none;
}
.login-signup p{
    margin-left:4%;
}

.nav2{
    height: 8.5vh;
    width: 99%;
    margin-left: 1%;
    margin-top: 5%;
    border-radius: 5px;
    background-color: #ECF0F1;
    display: flex;
}
.logo-sec{
    display: flex;
    height: 10vh;
    width: 30%;
}
.logo-sec i{
    font-size: 2.2em;
    margin-right: 2%;
    margin-top: 2%;
    margin-left: 2%;
    color: #f9004d;
}
.logo-sec h3{
    margin-top: 2%;
    color: #f9004d;
    font-size: 33px;
}

.nav-list{
    display: flex;
    height: 10vh;
    width: 70%;

}
ul {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    padding-top: 1.5%;
    height: 10vh;
    width: 70%;
    margin-left: 30%;
    list-style: none;
}
.nav-list li{
    text-decoration: none;
    margin-left: 4%;
}
ul li a {
    color: #191919;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}

ul li a::after {
    content: "";
    position: absolute;
    background-color: #f9004d;
    border-radius: 4px;
    height: 4px;
    width: 0;
    left: 0;
    bottom: -8px;
    transition: 0.6s ease;
}

ul li a:hover::after {
    width: 100%;
}

.cancle-print-section{
    height: 70vh;
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
}

.cancle-print-section a{
    text-decoration: none;
    color: black;
    margin-right: 1%;
    margin-left: 1%;
    font-size: 17px;
    letter-spacing: 1px;
}
.print-form{
    height: 60vh;
    width: 50%;
    margin-top: 1%;
    margin-left:35%;
}
.print-form form h1{
    letter-spacing: 1px;
    color: #f9004d;
    padding-bottom: 4%;
}
.print-form form p{
    padding-bottom: 5%;
    padding-left: 1%;
}
.print-form form label{
    padding-left: 1%;
    font-size: 18px;
    letter-spacing: 1px;
}
.print-form form input{
    height: 6.5vh;
    width: 60%;
    border-radius: 4px;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 1%;
    border:1.5px solid #191919;
    font-size: 16px;
    padding: 6px;
}
.print-form form button{
    margin-left: 1.5%;
    margin-top: 3%;
    height: 6vh;
    width: 20%;
    border-radius: 9px;
    border: 2px solid black;
    background-color: #f9004d;
    transition: 0.4s ease;

}
.print-form form button a{
    letter-spacing: 2px;
    text-transform: capitalize;
    font-size: 17px;
    color: white;
}
.print-form form button:hover{
    transform: scale(1.1,1.1);
}

