*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}
.print_ticket{
    height:90vh;
    width: 100%;
    border-radius: 5px;
}

.nav{
    width: 99%;
    height: 8vh;
    margin-left: 0.5%;
    border-radius: 5px;
    border-bottom: 2px solid white;
    background-color: black;
    display: flex;
    align-items: center;
    position:fixed;
    top: 0;
    z-index: 3;


}
.nav-content{
    display: flex;
    padding: 12px 5px;
}
.follow{
    display: flex;
    margin-right: 25%;
    margin-left: 1%;
}
.follow p{
   margin-right: 7%;
   font-family: "Poppins", sans-serif;
}
.follow i{
    margin-right: 15%;
    font-size: 1.2em;
}
.nav-content i{
    color: #f9004d;
    padding-right: 2%;
}
.nav-content p{
    padding-right: 5%;
    color: white;
    font-family: "Poppins", sans-serif;
}

.login-signup{
    display: flex;
    margin-left: 90%;
    position: fixed;
}
.login-signup i{
    margin-left: 30%;
    margin-right: 10%;
}
.login-signup a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

#user-message {
    margin-left: 5%;
    padding: 0;
    display: inline; /* Ensure text does not break into multiple lines */
    white-space: nowrap; /* Prevent text from wrapping */
}

.nav2{
    height: 8.5vh;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 5px;
    display: flex;
}
.logo-sec{
    display: flex;
    height: 10vh;
    width: 30%;
}
.logo-sec i{
    font-size: 2em;
    margin-right: 2%;
    margin-top: 2%;
    margin-left: 2%;
    color: #f9004d;
}
.logo-sec h3{
    margin-top: 1%;
    color: black;
    font-weight: normal;
    font-size: 30px;
    font-family: "Playwrite AR", cursive;
}

.nav-list{
    display: flex;
    height: 10vh;
    width: 70%;

}
ul {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    padding-top: 1.5%;
    height: 10vh;
    width: 90%;
    margin-left: 20%;
    list-style: none;
}
.nav-list li{
    text-decoration: none;
    margin-left: 6%;
}
ul li a {
    color: #191919;
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    position: relative;
}

ul li a::after {
    content: "";
    position: absolute;
    background-color: #f9004d;
    border-radius: 4px;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -8px;
    transition: 0.6s ease;
}

ul li a:hover::after {
    width: 100%;
}
.cancle-print-section{
    height: 70vh;
    width: 90%;
}

.ticket-flex{
    height: 70vh;
    width: 90%;
    display: flex;
    margin-top: 5%;
    margin-left: 6%;

}
@keyframes ticketflex {
    from{
        opacity: 0;
        scale: 0;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.print-form{
    height:50vh;
    width: 27%;
    background-color: #f9004f;
    position: absolute;
    z-index: 2;
    margin-top: 2.5%;
    padding: 2%;
    border-radius: 20px;
    margin-left: 10%;
    box-shadow: 2px 2px 5px #191919;
    animation: ticketflex linear;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
}
.print-form h1{
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    padding-top: 2%;
    padding-bottom: 15%;
}

.print-form form input{
    height: 6.5vh;
    width: 74%;
    margin-bottom: 8%;
    padding: 7px;
    font-size: 17px;
    margin-left: 10%;
    border-radius: 4px;
    border: none;

}
.print-form form input::placeholder{
    font-size: 14px;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
}
.print-form form button{
    height: 5.5vh;
    width: 35%;
    border: none;
    color: white;
    background-color: black;
    border-radius: 7px;
    margin-left: 29%;
    margin-top: 7%;
    font-size: 15px;
    letter-spacing: 1px;
    transition: 0.5s ease;
}

.print-form form button:hover{
    background-color: white;
    cursor: pointer;
    color: #f9004d;
}

.cancle-form{
    height:60vh;
    width: 50%;
    box-shadow: 2px 2px 5px #191919;
    border-radius: 20px;
    margin-left: 25%;
    position: absolute;
    z-index: 1;
    animation: ticketflex linear;
    animation-duration: 1s;
    animation-delay: 0.5s;
}
.cancle-form h1{
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    margin-left: 40%;
    color: black;
    padding-top: 4%;
}
.cancle-form p{
    margin-left: 35%;
    padding-top: 3%;
    padding-bottom: 1%;
    font-family: "Poppins", sans-serif;
}
.cancle-form span{
    color:#f9004d;
}

.cancle-form form input{
    height: 6.5vh;
    width: 37%;
    margin-top: 3%;
    margin-bottom: 1%;
    padding: 7px;
    margin-left: 35%;
    border-radius: 4px;
    background-color: whitesmoke;
    border: none;

}
.cancle-form form input::placeholder{
    font-size: 14px;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
}
.cancle-form form button{
    height: 6vh;
    width: 17%;
    border: none;
    background-color: #f9004d;
    border-radius: 7px;
    margin-left: 45%;
    margin-top: 5%;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    transition: 0.5s ease;
}

.cancle-form form button:hover{
    background-color: #191919;
    cursor: pointer;
    color: white;
}

